body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* основной цвет */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #00796b; /* accent line under h2 */
    padding-bottom: 10px;
    color: #004d40;
}

section {
    margin-bottom: 20px;
}

p {
    color: #34495e;
    margin: 10px 0;
}

strong {
    color: #e74c3c;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e0f2f1; 
}

.logo img {
    max-width: 220px;
}

.navBar {
    display: flex;
    gap: 20px;
}

.navBar a {
    text-decoration: none;
    font-size: 20px;
    color: #00796b; /* Calming teal for text */
    font-weight: 500;
    transition: color 0.3s ease;
}

.navBar a:hover {
    color: #004d40; /* Darker shade on hover */
}

.headeeContact {
    display: flex;
    align-items: center;
}

.headeeContact h2 {
    color: #004d40;
    font-size: 1.6em;
    margin-right: 15px;
}

.headeeContact button {
    width: 200px;
    font-size: 15px !important;
    font-weight: 550 !important;
    background-color: #00796b; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

.headeeContact button:hover {
    background-color: #004d40; /* Darker on hover */
}

/* Additional styling for better layout */
section {
    background-color: #f9f9f9; /* Light background for sections */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
